.strength-meter {
  margin-top: 28px;
}

.progress .meter.w-0 {  background: red;  }
.progress .meter.w-1 {  background: red;  }
.progress .meter.w-2 {  background: orange;  }
.progress .meter.w-3 {  background: yellow;  }
.progress .meter.w-4 {  background: green;  }